canvas {
  touch-action: none;
  background-image: url("/assets/bg.png");
}

.wrapper {
  position: relative;

  .color-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;

    button {
      height: 55px;
      min-width: 55px;
      margin-right: 10px;
    }

    .non-active {
      opacity: .5;
    }

    .dot {
      height: 15px;
      width: 15px;
      background-color: #000;
      border-radius: 50%;
      display: inline-block;
    }

    .red {
      background-color: red;
    }

    .m-l {
      margin-left: 10px;
    }
  }
}
